.banner-services__offerse {
    min-height: 213px;
    max-width: 598px;
    background: #fff;
    padding: 31px 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 25px;
}

.banner-services__title {
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    color: #1e1d25;
    margin: 30px auto;
}

.banner-services__point {
        display: flex;
    align-items: center;
}

.prices {
    padding: 84px 0;
}

.prices__list {
    padding-top: 60px;
    padding-bottom: 25px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.prices__item {
    flex-basis: 373px;
}


.prices-card {
    border-radius: 27px;
    background: #dfe3ee;
}

.prices-card__stage-text {
    border-radius: 27px;
    padding: 15px 32px;
    background: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 139%;
    text-transform: uppercase;
    text-align: center;
    color: #4d4f5d;
    display: inline-block;
    margin: 10px;
}

.prices-card__stage-text--color {
    background: #F9CD54;
}

.prices-card__stage-text:hover {
    color: #fff;
    background: #4c515e;
}

.prices-card__item--color {
    background: #F9CD54;
}

/*.prices-card__item:nth-child(3)::before {*/
/*    background: #F9CD54;*/
/*}*/


.prices-card__list {
    padding: 34px;
    list-style-type: none;
    margin: 0;
}

.prices-card__item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.prices-card__item::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 15%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: linear-gradient(159deg, #fff 0%, #dfe3ee 100%);
}

.prices-card__text-bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    color: #1e1d25;
}
.prices-card__text-average {
    font-size: 16px;
    line-height: 138%;
    color: #1e1d25;
    font-weight: 300;
}
.prices-card__text-radius {
    font-weight: 500;
    font-size: 15px;
    line-height: 138%;
    color: #1e1d25;
    border: 1px solid #1e1d25;
    border-radius: 20px;
    padding: 5px 7px;
    width: 99px;
    margin-left: auto;
    text-align: center;
}

.prices-card__list-info {
    padding: 14px 34px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    min-height: 149px;
}

.prices-card__list-last p {
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: rgba(30, 29, 37, 0.6);
    margin-left: 24px;
}


.prices-card__list-last {
    padding: 14px 34px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    min-height: 100px;
    list-style-type: none;
}

.prices-card__list-last p {
    position: relative;
}

.prices-card__list-last p::before {
    content: '\2713';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 12px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 20px;
}

.prices__term {
    padding: 34px;
    border: 1px solid #5671b2;
    border-radius: 27px;
    display: flex;
    column-gap: 20px;
}

.prices__term p {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #1e1d25;
    max-width: 770px;
}

.prices__term span {
    border-radius: 27px;
    padding: 10px 13px;
    width: 45px;
    height: 45px;
    background: #dfe3ee;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.prices__list-tasks {
    padding-top: 60px;
    padding-bottom: 25px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.prices__item-task {
    border-radius: 27px;
    padding: 34px;
    flex-basis: 373px;
    box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.11);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.prices__item-task--color {
    background: #dfe3ee;
}

.prices__text-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #1e1d25;
}

.prices__text-400 {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #1e1d25;
}

.prices__text-900 {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 138%;
    text-transform: uppercase;
    background: linear-gradient(159deg, #4d4b5a 0%, #485c63 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prices__text-600 {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #1e1d25;
}

.prices__text-400-grey {
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: rgba(30, 29, 37, 0.6);
}

.prices__text-svg {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.prices__text-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.prices__item-task-img {
    margin: 0 auto;
}


/* калькулятор */

.calculator-page {
    padding: 84px 0;
    background: #f3f5fa;
}

.calculator {
    padding: 21px;
    box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.11);
    background: #fff;
    border-radius: 27px;
    position: relative;
}

.calculator__caunt {
    float: right;
}

.calculator__next {
    float: right;

    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;

    gap: 8px;
    padding: 15px 32px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 57px;
    background: linear-gradient(159deg, #4d4b5a 0%, #485c63 100%);

    position: absolute;
    right: 10px;
    bottom: 10px;
}

.calculator__next:hover {
    background: #4d4b5a;
    opacity: 0.83;
}

.calculator__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calculator__inner {
    flex-basis: 417px;
    padding: 0 20px;
}

.calculator__title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #1e1d25;
    margin-bottom: 26px;
}

.calculator__type {
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
}

.calculator__type label {
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    color: #5671b2;
}

.calculator__type [type="radio"] {
    color: #5671b2;
}

.calculator__type [type="text"] {
    color: #5671b2;
    border: 1px solid #1e1d25;
    border-radius: 13px;
    background: none;
    padding: 16px 20px;
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    color: rgba(30, 29, 37, 0.5);
}


.calculator__file-input {
    display: none; /* Скрыть стандартный вид input */
}

.calculator__file-input-label {
    display: inline-block;
    position: relative;
    padding-left: 24px; /* Размер иконки + отступ для текста */
    cursor: pointer; /* Сделать курсор указателем при наведении */

    margin: 20px 0;
}

.calculator__file-input-label::before {
    content:  url(/wp-content/themes/patent/images/paper-clip.svg); /* Путь к вашей иконке */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Размер иконки */
    height: 20px;

}

.calculator__file-input-label::after {
    content: "Прикрепить файл";
    position: relative;
    top: -2px; /* Коррекция вертикального выравнивания */
    margin-left: 8px; /* Отступ между иконкой и текстом */


    font-weight: 400;
    font-size: 16px;
    color: #1e1d25;
}

.calculator__optional {
    font-weight: 400;
    font-size: 14px;
    color: rgba(30, 29, 37, 0.5);
}

.calculator__logos {}

.calculator__logos p {

}

.calculator__logos ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.discounts {
    padding: 84px 0;
}


.discounts__wrapper {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 27px;
}

.discounts__inner {
    flex-basis: 620px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 34px;
}

.discounts__inner--sb {
    justify-content: space-between;
}

.discounts__inner-bg {
    background-size: contain;
    background: url(/wp-content/themes/patent/images/payment-bg.png) no-repeat center;
    width: 100%;
    min-height: 373px;
    border-radius: 27px;
}

.discounts__inner-bg div {

}

.discounts__inner-title {

    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

}

.discounts__inner-bg a {
    border-radius: 57px;
    padding: 0;
    max-width: 237px;
    height: 58px;
    background: linear-gradient(159deg, #4d4b5a 0%, #485c63 100%);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    display: flex;
    margin: 20px auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.discounts__img {

}

.discounts__title {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #1e1d25;
}

.discounts__text {
    max-width: 480px;
    font-weight: 400;
    font-size: 17px;
    line-height: 165%;
    color: #4b555e;
}


.discounts__text span {
    font-weight: 600;
    font-size: 17px;
    line-height: 165%;
    color: #4b555e;
}

.points {
    padding: 84px 0;
}

.points__wrapper {
    padding-top: 54px;
    padding-bottom: 84px;
}

.points__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.points__item--500 {
    font-weight: 500;
    font-size: 18px;
    color: #1e1d25;
}

.points__item--svg {
    border-radius: 100%;
    background: linear-gradient(159deg, #4d4b5a 0%, #485c63 100%);
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 11px;
}

.points__item--svg.active {
    transform: rotate(180deg);
}

.points__item {
    border-radius: 27px;
    box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    padding: 13px 10px 13px 32px;
}

.points__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.points__hidden {
    display: none;
}

.points__hidden.active {
    display: flex;
}

.points-slider {
    z-index: 10;
    display: flex;
    border-radius: 27px;
    position: relative;
    border: solid 1px  #d9d9d9;
    overflow: hidden;
    background: linear-gradient(91deg, #fafafc 0%, rgba(249, 250, 252, 0) 15.58%, #f9fafc 100%);
}

.points-slider:after {
    content: '';
    display: block;
    border-radius: 100%;
    background: linear-gradient(188deg, #6b83bc 0%, #e6e9f1 100%);
    height: 418px;
    width: 418px;
    position: absolute;
    right: -100px;
    bottom: -300px;
    z-index: -1;

}

.points-slider__inner {
    padding: 41px 20px 41px 48px;
    flex-basis: 690px;
}

.points-slider__slides {
    max-width: 508px;
    margin: auto 0;
}

.arrows {
    display: flex;
    column-gap: 5px;
}

.arrows__item {
    background: linear-gradient(159deg, #4d4b5a 0%, #485c63 100%);
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    border-radius: 50%;
}

.points-slider__item {
    margin-right: 30px;
}

.points-slider__title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #1e1d25;
}

.points-slider__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    color: #4b555e;
}

@media  (max-width: 768px) {
    .banner-services__point p {
    font-weight: 400;
    font-size: 14px;
    }
}
