.body_active {
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
}

.points__item--svg {
    cursor: pointer;
}

.points__item--svg:hover {
    background: #4d4b5a;
    opacity: 0.83;
}

.points-arrows__item:hover {
    background: #4d4b5a;
    opacity: 0.83;
    cursor: pointer;
}

.section-mkty {
    padding-top: 46px;
    padding-bottom: 97px;
}

.sectiom-mkty__title {
    font-size: 18px;
    line-height: 21.94px;
    margin-bottom: 19px;
    text-transform: uppercase;
    font-weight: 500;
}

.sectiom-mkty-area {
    display: grid;
    grid-template-columns: 1fr;
}

.sectiom-mkty-area__row {
    display: grid;
    grid-template-columns: 2.8fr 1.3fr;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E8EF;
}

.sectiom-mkty-area__row:not(:first-child):not(:nth-child(2)) {
    padding-top: 10px;
}

.section-mkty-area__name {
    color: #4B555E;
    text-align: right;
    padding-right: 5px;
}

.section-mkty-area__items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.section-mkty-area-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 120%;
    width: 68px;
    background-color: #F3F5FA;
    border-radius: 33px;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 5px;


}

.sectiom-mkty-area {
    margin-bottom: 55px;
    max-width: 756px;
}

.section-mkty-tabs-item__title {
    font-size: 18px;
    color: #1E1D25;
    line-height: 130%;
    margin-bottom: 16px;
    font-weight: 600;
}

.section-mkty-tabs-item__part {
    margin-bottom: 37px;
}

.section-mkty-tabs-item p,
.section-mkty-tabs-item ul {
    color: #4B555E;
}

.section-mkty-tabs-item ul {
    list-style-type: disc;
    margin-left: 20px;
}

.section-mkty-area-item_active {
    background-color: #5671B2;
    color: white;
}

.section-mkty-tabs-item {
    display: none;
}

.section-mkty-tabs-item.section-mkty-tabs-item_active {
    display: block;
}

.section-mkty-tabs-item__name {
    display: none;

}



.section-mkty-tabs-item__title {
    margin-bottom: 12px;
}

.section-mkty-tabs-item__part {
    margin-bottom: 25px;
}
.slick-disabled{
    background: #4d4b5a;
    opacity: 0.83;
    cursor: unset !important;
}
/*dropdown */
.dropdown-mkty__header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #BDC4D8;
    padding: 28px;
    border-radius: 27px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    cursor: pointer;
}

.dropdown-mkty__header~.dropdown-mkty__body {
    display: none;
}

.dropdown-mkty__body {
    padding: 14px 28px;
}

.dropdown-mkty__header svg {
    transition: all 0.4s;
}

.dropdown-mkty__header_active svg {
    transform: rotate(180deg);
}

/*Global popup */
.global-popup.fancybox__container {

    --fancybox-bg: rgb(223, 227, 238, 0.4);

}


.global-popup {

    box-sizing: border-box;
    border-radius: 27px;
    padding: 0px;
}

.global-popup__inner {

    box-sizing: border-box;
    padding: 50px;
    min-width: 604px;
    max-width: 604px;
}

.global-popup .fancybox__content>.f-button.is-close-btn {

    opacity: 1;
}

.global-popup .fancybox__content>.f-button.is-close-btn {
    width: 16px;
    height: 16px;
    --f-button-color: unset;
    top: -22px;
    right: -22px;
}

.global-popup .fancybox__content>.f-button.is-close-btn svg {
    fill: white;
    stroke: white;
}

h2.global-popup__title {
    font-size: 28px;
    line-height: 34px;
    color: #1E1D25;
    margin-bottom: 9px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 9px;
}

/*page 404 */
.section-404 {
    padding-top: 56px;
    padding-bottom: 152px;
    background: linear-gradient(360deg, #DFE3EE 0%, #FFFFFF 100%);
}

.section-404__inner {
    max-width: 736px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-404-header__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 5px;
}

.section-404-header__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
}

.section-404__header {
    margin-bottom: 46px;
}

.section-404-body__text {
    font-size: 26px;
    line-height: 31.29px;
    font-weight: 500;
    text-transform: uppercase;

}

.section-404-body__image {
    width: 500px;
    aspect-ratio: 1/1;
    margin: auto;
}

.section-404-body__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-404-body__text {
    margin-bottom: 5px;
}

.btn-404 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(99.39deg, #4D4B5A -4.76%, #485C63 158.33%); */
    padding: 25px;
    min-width: 504px;
    border-radius: 37px;
    color: white;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 600;
}

/*privacy*/
.section-privacy {
    padding-top: 63px;
    padding-bottom: 83px;
    color: #4B555E;
    font-size: 16px;
}

.section-privacy h2 {
    color: #1E1D25;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.section-privacy p,
.section-privacy ul {
    margin-bottom: 16px;

}

/* OFFICE*/
.banner_office {
    background: linear-gradient(289.54deg, #CDD1DD 29.58%, #5671B2 159.34%);
}

.titles__block_dark {
    background: linear-gradient(216.54deg, #CDD1DD 29.58%, #5671B2 159.34%);
}

.titles__block_office {
    padding-bottom: 0px;
}

.titles__block_office .breadcrumbs {
    margin-bottom: 15px;
}

.banner_office .banner__list {
    margin-top: 0px;
}

.banner_office .banner__offer>h1 {
    font-size: 26px;
    line-height: 31.69px;
    padding-left: 21px;
}

.banner_office .banner__offer ul li::before {
    content: '';
    display: none;
}

.banner_office .banner__offer {
    max-width: 760px;
    margin-bottom: 30px;
}

.article-box__readmore {
    display: none;
}

/*04.03.24 */
.services-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.global-popup__inner>p {
    margin-bottom: 31px;
}

.serv_btn {
    display: flex;
    gap: 10px;
    max-width: 200px;
    align-items: center;
}

.article__txt img {
    margin-bottom: 55px;
}

.article__content-list_text {
    justify-content: flex-start;
    padding-right: 0px;
    column-gap: 30px;
    margin-bottom: 30px;
}

.article__content-list_point_active .sm__title {
    color: #5671B2;
}

.article__content-list_point {
    position: relative;
}

.article__content h3 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    font-weight: 500;
}

/* .article__content-list_point::after{
    top: 50px;
    right: -30px;
    transform: translateY(-50%);
    
    position: absolute;
    display: inline-flex;

    content: url('data:image/svg+xml;utf8,<svg width="28" height="7" viewBox="0 0 28 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M27.616 3.53834C27.7639 3.39042 27.7639 3.15059 27.616 3.00267L25.2055 0.592172C25.0576 0.444252 24.8177 0.444252 24.6698 0.592172C24.5219 0.740093 24.5219 0.979919 24.6698 1.12784L26.8125 3.27051L24.6698 5.41318C24.5219 5.5611 24.5219 5.80092 24.6698 5.94884C24.8177 6.09676 25.0576 6.09676 25.2055 5.94884L27.616 3.53834ZM0.833984 3.64928H27.3482V2.89173H0.833984V3.64928Z" fill="url(%23paint0_linear_550_1095)"/> <defs><linearGradient id="paint0_linear_550_1095" x1="27.3482" y1="-25.7294" x2="-6.40757" y2="-3.60293" gradientUnits="userSpaceOnUse"> <stop/> <stop offset="1" stop-opacity="0"/></linearGradient> </defs> </svg>');
} */
.article-advice {
    display: flex;
    gap: 30px;
    background: linear-gradient(138.73deg, #F3F5FA 23.37%, #CDD1DD 107.47%);
    padding: 32px 38px;
    border-radius: 28px;
    color: #1E1D25;
    font-size: 15px;
    line-height: 24.73px;
    margin-bottom: 13px;

}

.article-advice__image {
    aspect-ratio: 210/263;
    flex-shrink: 0;
}

.article-advice__name {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 12px;
}

.article-advice__text {
    text-transform: uppercase;
    margin-bottom: 13px;

}

.article-advice>div {
    flex-basis: unset;
}

.footer__group:last-child {
    align-items: flex-end;
}

.to_top {
    cursor: pointer;
}

.banner__offer ul {
    margin-bottom: 26px;
}

.article__content {
    display: none;
}

.targets__wrapper {
    position: relative;
}

/* .slick-prev-new-2 ,.slick-next-new-2{
    position: absolute;
    z-index: 1000;
    width: 33px;
    height: 33px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(99.39deg, #4D4B5A -4.76%, #485C63 158.33%);
    cursor: pointer;

}
.slick-prev-new-2:hover ,.slick-next-new-2:hover{
    background: #4d4b5a;
    opacity: 0.83;
}
.slick-prev-new-2 {
    left: -50px;
    top:50%;

}
.slick-next-new-2 {
    right: -50px;
    top: 50%;
 
} */
.target_single.targets {
    padding-bottom: 0px;
}

.targets .slick-dots {
    display: none;
}

.what__item>a {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.what_single {
    padding-top: 0px;
}

.article-box_single {
    padding-top: 0px;
}

.slick-next-new-2:hover,
.slick-prev-new-2:hover {
    background: #4d4b5a;
    opacity: 0.83;
    cursor: pointer;
}

.orfer-form__wrapper-gray_archive {
    margin-top: 0px;
}

.prices__item {
    display: flex;
    flex-direction: column;
}

.prices-card {

    flex-grow: 1;
}

.prices-card__stage-text {
    display: inline-flex;
    width: max-content;
}

.prices-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width:1024px) {
    .footer__group:last-child {
        align-items: flex-start;
    }

    .banner__offer {
        max-width: 600px;
        margin-top: 20px;
    }
}

@media (min-width:1400px) {
    .banner_office .banner__block:nth-of-type(1) {
        max-width: 88%;
    }

    .banner_office .banner__list {
        grid-template-columns: repeat(2, 1fr) 2fr;
        column-gap: 36px;
        margin-top: 51px;
    }
}


@media (max-width: 1024px) {
    .banner_office .banner__offer {
        max-width: 345px;
    }

    .article-advice {
        flex-direction: column;
        gap: 15px;
    }

    .article-advice__image {
        aspect-ratio: unset;
        flex-shrink: 0;
    }

    .article-advice {
        padding: 20px;
    }
}

@media (max-width:1400px) {
    .titles__block_dark {
        background: linear-gradient(194.54deg, #CDD1DD 33%, #5671B2 159.34%);
    }

    .banner_office {
        margin-top: -5px;
    }

    .article__content {
        height: auto;
    }
}

@media (min-width:1024px) and (max-width:1200px) {
    .targets .slide_count {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        left: 10px;
        right: 10px;
        z-index: 1000;
    }

    .targets .slide_count>span:not(:first-child):not(:last-child) {
        display: none;
    }

    .header__block:nth-child(1) {
        margin-bottom: 20px;
    }

    .header__content {
        flex-wrap: wrap;
    }

    .header__address {
        flex-grow: 1;
    }

    .header__block {
        width: 100%;
    }

    .banner__block-main img {
        right: 0px;
    }

    .features__block::after {
        right: 0px;
    }


    .banner__block-main img {
        width: 350px;
        height: 100%;
        object-fit: cover;

    }
}


@media (max-width:767px) {
    .prices__list .slick-list {
        display: flex;
        flex-direction: column;

    }

    .prices__list .slick-list .slick-slide>div,
    .prices__item {
        height: 100%;
    }

    .prices-card {
        height: 100%;
    }

    .orfer-form__wrapper-gray_archive {
        display: none;
    }

    .orfer-form__wrapper-gray_archive {
        padding-top: 0px;
    }

    .header-mobile__text--500 {
        font-size: 14px;
    }

    .header-mobile__bottom {
        gap: 2px;
    }

    .header-mobile__social {
        column-gap: 3px;
    }


    /*Office */
    .titles__block_office .breadcrumbs {
        margin-bottom: 5px;
    }

    .banner_office .banner__list {
        max-width: 137px;
    }

    .banner_office .banner__offer {
        top: 0px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .titles__block_dark {
        background: linear-gradient(194.54deg, #CDD1DD 32%, #5671B2 159.34%);
    }

    .titles__block_office .breadcrumbs {
        margin-bottom: 5px;
    }

    .banner_office .banner__offer>h1 {
        font-size: 20px;
        line-height: 24.8px;
        padding-left: 21px;
        padding-left: 0px;
    }

    .banner_office .banner__offer>h1 {
        font-size: 20px;
        line-height: 24.8px;
        padding-left: 21px;
        padding-left: 0px;
    }

    .banner_office .banner__offer ul li {
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .section-mkty-tabs-item p,
    .section-mkty-tabs-item ul {
        font-size: 13px;
    }

    .sectiom-mkty__title {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .section-mkty-area__name {
        font-size: 14px;
    }

    .sectiom-mkty-area__row {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
        border-bottom: 1px solid #E6E8EF;
        gap: 12px;

    }

    .section-mkty-area__name {
        order: -1;
    }

    .sectiom-mkty-area__row:not(:first-child):not(:nth-child(2)) {
        padding-top: 17px;
    }

    .section-mkty-area-item {
        width: 62px;
    }

    .section-mkty-area__items {
        gap: 3px;
    }

    .section-mkty-tabs-item {
        background-color: white;
    }

    /* .modal-mkty.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
        padding-top: 0px;
    } */
    .modal-mkty.fancybox__container {
        --fancybox-bg: transparent;
        z-index: 1000;


    }

    .modal-mkty .fancybox__slide::before,
    .modal-mkty .fancybox__slide::after {
        content: "";
        flex: 0 0 0;
        margin: unset;
    }

    .section-mkty-tabs-item__data::-webkit-scrollbar {
        width: 3px;
        margin-top: 20px;
    }

    .section-mkty-tabs-item__data::-webkit-scrollbar-track {
        background: white;
    }

    .section-mkty-tabs-item__data::-webkit-scrollbar-thumb {
        background: gray;
    }

    .section-mkty {
        padding-top: 19px;
        padding-bottom: 18px;
    }

    .section-mkty-tabs-item {
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 5px 25px 0px #00000026;
        border-radius: 18px;
        padding: 26px 23px 23px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
        background: white;
        position: static;
        height: 90vh;
        position: relative;
        overflow: hidden;
    }


    .section-mkty__area.sectiom-mkty-area {
        margin-bottom: 0px;
    }

    .section-mkty__area.sectiom-mkty-area:not(:last-child) {
        margin-bottom: 25px;
    }

    .section-mkty-tabs-item__data {
        overflow: auto;
        height: calc(100% - 80px);
    }

    .modal-mkty.fancybox__container .f-button svg {
        stroke: black;
    }

    .modal-mkty.fancybox__container .f-button svg,
    .modal-mkty.fancybox__container .f-button.is-close-btn {
        width: 16px;
        height: 16px;
    }

    .modal-mkty.fancybox__container .f-button.is-close-btn {
        position: absolute;
        opacity: 1;
        top: 16px;
        right: 16px;
        background: transparent;
        z-index: 100;


    }

    .modal-mkty .fancybox__slide {
        overflow: unset;
    }

    .fancybox__container.modal-mkty .is-compact .fancybox__content>.f-button.is-close-btn {

        top: 16px;
        right: 16px;
    }


    .section-mkty-tabs-item__name {
        display: inline-flex;
        align-items: center;
        background: #5671B2;
        justify-content: center;
        width: 68px;
        padding: 7px 0px;
        border-radius: 57px;
        color: white;
        font-weight: 600;
        line-height: 21px;
        font-size: 18px;
        margin-bottom: 20px;


    }

    .section-mkty-tabs-item.fancybox__content {
        height: 100%;
        border-radius: 18px;
    }


    .section-mkty-tabs-item.section-mkty-tabs-item_active {
        display: none;
    }

    .section-mkty-area__name {
        text-align: unset;
        padding-right: 0px;
    }


    .section-mkty-tabs-item {
        display: none;
    }

    .dropdown-mkty__header {
        font-size: 14px;
        line-height: 17.0px;
        padding: 14px;
    }

    .dropdown-mkty__header svg {
        flex-shrink: 0;
    }

    .dropdown-mkty__body {
        padding: 14px 14px;
    }


    h2.global-popup__title {
        font-size: 18px;
        line-height: 21.9px;
        color: #1E1D25;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 9px;

        margin: auto;
    }

    .global-popup {
        min-width: auto;
        padding: 0px;
        width: calc(100% -20px);
        box-sizing: border-box;
        border-radius: 27px;
        margin: auto 10px;
    }

    .global-popup__inner {
        box-sizing: border-box;
        padding: 50px;
        min-width: 100%;
        max-width: 100%;
    }

    .global-popup .fancybox__content>.f-button.is-close-btn {
        top: -22px;
        right: 0px;
        background: transparent;

    }

    .global-popup__inner {
        padding: 46px 21px 28px;
    }

    /*page 404 */

    .section-404-body__image {
        width: 300px;
        aspect-ratio: 1/1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .btn-404 {
        width: 100%;
        max-width: 345px;
        min-width: auto;


    }

    .section-404-body__bottom {
        width: 100%;
    }

    .section-404 {
        padding-top: 66px;
        padding-bottom: 82px;
        background: linear-gradient(180deg, #FFFFFF 0%, #DFE3EE 100%);

    }

    .section-404-header__title {
        font-size: 12px;
        margin-bottom: 7px;
        line-height: 14.6px;
    }

    .section-404-header__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 19.5px;
    }

    .section-404__header {
        margin-bottom: 32px;
    }

    .section-404-body__text {
        font-size: 20px;
        line-height: 24.3px;
        margin-bottom: 32px;
    }

    .section-privacy {
        padding-top: 32px;
        padding-bottom: 41px;
        color: #4B555E;
        font-size: 14px;
    }

    .section-privacy h2 {
        font-size: 18px;
    }

    .prices__list {
        margin-bottom: 22px;
    }

    .prices__item {
        width: 100%;
    }

    .targets__wrapper {
        padding-top: 40px;
    }

    .what__list {
        padding-top: 40px;
    }

    .prices-subtitle {
        padding-top: 0px;
    }

    .slick-prev-new.keyses__slick,
    .slick-next-new.keyses__slick {
        display: inline-flex;
    }

    .slick-prev-price,
    .slick-next-price {
        background: linear-gradient(99.39deg, #4D4B5A -4.76%, #485C63 158.33%);
        width: 33px;
        height: 33px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .slick-prev-price.slick-arrow {
        display: inline-flex;
    }

    .slick-next-price.slick-arrow {
        display: inline-flex;
    }

    .slick-disabled {
        background: #4d4b5a;
        opacity: 0.83;
        cursor: unset;
    }
}

@media (max-width:1024px) {
    .form-bottom {
        padding-top: 27px;
    }

    .targets .slide_count {
        bottom: -60px;
    }
}

@media ((min-width:480px) and (max-width:576px)) {


    .titles__block_dark {
        background: linear-gradient(201.54deg, #CDD1DD 75px, #5671B2 159.34%);
    }
}

@media (max-width: 480px) {
    .titles__block_dark {
        background: linear-gradient(201.54deg, #CDD1DD 25px, #5671B2 159.34%);
    }

}

@media (max-width:576px) {
    .banner-services__offerse {

        margin-bottom: 72px;
    }

    .banner__block img {
        position: absolute;
        bottom: -58px;
        right: 0;
        width: 176px;
    }

    .prices__list .slick-list {
        width: 100%;
    }

    .prices__list {
        padding-bottom: 0px;
    }

    .banner-services__offerse {
        max-width: 100%;
    }

    .banner__btn {
        padding-left: 10px;
        padding-right: 10px;
    }

    .article-box__readmore {
        display: flex;
    }

    .prices-card {
        min-height: 616px;
    }

    /* artcile text*/
    .article-box__text {
        height: 92px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .article-box__readmore svg {
        transition: all 0.4s ease;
    }

    .article-box__readmore_active svg {
        transform: rotate(180deg);
    }

    .tabs__content.active div.keyses-slide {
        height: 839px;
    }

    div.keyses-slide {
        height: 839px;
        overflow: hidden;
        padding-bottom: 20px;
    }

    .tabs__content div.keyses__right {
        height: 650px;
        overflow: auto;
        flex-basis: unset;
        padding-right: 3px;
    }

    .tabs__content div.keyses__right::-webkit-scrollbar {
        width: 3px;
        margin-top: 20px;
    }

    .tabs__content div.keyses__right::-webkit-scrollbar-track {
        background: white;
    }

    .tabs__content div.keyses__right::-webkit-scrollbar-thumb {
        background: gray;
    }


    /*read more */
    .article-box__readmore {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #5671B2;
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        cursor: pointer;
    }

    .article-box__readmore svg {
        stroke: #5671B2;
    }

    .article-box__text_active {
        height: max-content;
        -webkit-line-clamp: unset;
    }


    .banner__offer ul li {
        font-size: 14px;
    }



    .header-mobile__bottom {
        font-size: 16px;
        font-weight: 500;
    }

    .banner__block .banner__offer {
        width: 100%;
        min-width: unset;
        max-width: 100%;
        padding: 20px;
        margin-bottom: 50px;
    }



    .banner__block .banner__offer:after {

        content: "";
        position: absolute;
        left: 80px;
        top: auto;
        bottom: -30px;
        width: 0;
        height: 0;
        border-left: 0;
        border-top: 0px solid transparent;
        border-right: 48px solid #fff;
        border-bottom: 33px solid transparent;
    }

    .banner_office .banner__offer ul li {

        padding-bottom: 0px;
    }

    .small__price {
        justify-content: flex-start;
        gap: 5px;
    }

    .services-card__content .small__price {
        justify-content: center;
    }

    .small__price span:last-child {
        flex-grow: 1;
        display: flex;
        /* justify-content: flex-end; */
    }

    .small__price span:last-child {
        padding-right: 5px;
    }

    .benefit h2 {
        margin-bottom: 25px;
    }

    .keyses {
        padding-top: 0;
        padding-bottom: 60px;
        background-color: #fff;
    }

    .benefit {
        padding-top: 20px;
    }

    .branch {
        padding-bottom: 60px;
    }

    .tabs__content.active div {
        font-size: 13px;
    }

    .article-advice__image img {
        display: block;
        margin: auto;
    }

    .order-form h2 {
        margin-bottom: 10px;
    }

    .form__part:first-child>p {
        margin-bottom: 26px;
    }

    .patent-form {
        padding: 20px 0 20px 0;
    }

}



@media (max-width:1024px) {
    .article__content-list_point .icon {
        margin: auto;
    }

    .banner_office .banner__offer {
        max-width: 80%;
    }

    /* .article__content-list_point::after {
        top: 35px;
        right: -30px;
        transform: translateY(-50%);
        position: absolute;
        display: inline-flex;
        content: url('data:image/svg+xml;utf8,<svg width="28" height="7" viewBox="0 0 28 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M27.616 3.53834C27.7639 3.39042 27.7639 3.15059 27.616 3.00267L25.2055 0.592172C25.0576 0.444252 24.8177 0.444252 24.6698 0.592172C24.5219 0.740093 24.5219 0.979919 24.6698 1.12784L26.8125 3.27051L24.6698 5.41318C24.5219 5.5611 24.5219 5.80092 24.6698 5.94884C24.8177 6.09676 25.0576 6.09676 25.2055 5.94884L27.616 3.53834ZM0.833984 3.64928H27.3482V2.89173H0.833984V3.64928Z" fill="url(%23paint0_linear_550_1095)"/> <defs><linearGradient id="paint0_linear_550_1095" x1="27.3482" y1="-25.7294" x2="-6.40757" y2="-3.60293" gradientUnits="userSpaceOnUse"> <stop/> <stop offset="1" stop-opacity="0"/></linearGradient> </defs> </svg>');
    }
     */
}

@media (max-width:768px) {
    .header-mobile {
        position: sticky;
        top: 0;
    }

    .articles__tabs .tabs__caption {
        padding: 23px;
    }

    .tabs__caption {

        padding: 0;
    }

    .keyses h2 {
        margin-bottom: 32px;
    }

    .points {
        padding-bottom: 40px;
    }

    .prices {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .prices__list {
        padding-top: 20px;

    }

    .points__wrapper {
        padding-bottom: 55px;
    }

    .discounts {
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .points__wrapper {
        padding-top: 24px;
    }

    .keyses__tabs .tabs__caption {
        margin-bottom: 20px;
    }

    .interesting {
        padding-top: 0px;
    }

    .target_single .targets__wrapper {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .what_single-two .what__list {
        padding-top: 20px;
    }

    .what_single .what__list {
        padding-top: 24px;
    }

    .interesting__list {
        padding-top: 24px;
    }

    .what__wrapper--title {
        padding-top: 24px;
    }

    .approach__list {
        padding-top: 24px;
    }

    .slide_count {
        padding-bottom: 0px;
    }

    .points-slider__inner {
        flex-basis: unset;
    }

    .banner__offer {
        max-width: 80%;
        min-width: unset;
    }

    .points-slider__slides {
        padding-left: 20px;
    }

    .last__card .small__price {
        text-align: center;
    }
    .titles{
        margin-bottom: 20px;
    }
    .prices-subtitle__title{
        margin-bottom: 5px;
    }
    .prices.prices_single-two{
        padding-top: 20px !important;
    }
    .points_single-two .points-slider{
        margin-bottom: 40px;
    }
    .targets.target_single-two{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .target_single-two .targets__wrapper{
        padding-top: 20px;
    }
    .target_single-two .targets__list{
        margin-bottom: 25px;
    }
    .points__wrapper {
        padding-top: 0px;
    }
    .points {
        padding-top: 20px;
    }
}

@media (min-width:1200px) {
    .targets .slide_count {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        left: -50px;
        right: -50px;
        z-index: 1000;
    }

    .targets .slide_count>span:not(:first-child):not(:last-child) {
        display: none;
    }
}

@media (max-width:370px) {
    .header-mobile__bottom {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}