html {
    scroll-behavior: smooth;
}

.body_active {
    overflow: hidden;
}

.section-mkty {
    padding-top: 46px;
    padding-bottom: 97px;
}

.sectiom-mkty__title {
    font-size: 18px;
    line-height: 21.94px;
    margin-bottom: 19px;
    text-transform: uppercase;
    font-weight: 500;
}

.sectiom-mkty-area {
    display: grid;
    grid-template-columns: 1fr;
}

.sectiom-mkty-area__row {
    display: grid;
    grid-template-columns: 2.8fr 1.3fr;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E8EF;
}

.sectiom-mkty-area__row:not(:first-child):not(:nth-child(2)) {
    padding-top: 10px;
}

.section-mkty-area__name {
    color: #4B555E;
    text-align: right;
    padding-right: 5px;
}

.section-mkty-area__items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.section-mkty-area-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 120%;
    width: 68px;
    background-color: #F3F5FA;
    border-radius: 33px;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 5px;


}

.sectiom-mkty-area {
    margin-bottom: 55px;
    max-width: 756px;
}

.section-mkty-tabs-item__title {
    font-size: 18px;
    color: #1E1D25;
    line-height: 130%;
    margin-bottom: 16px;
    font-weight: 600;
}

.section-mkty-tabs-item__part {
    margin-bottom: 37px;
}

.section-mkty-tabs-item p,
.section-mkty-tabs-item ul {
    color: #4B555E;
}

.section-mkty-tabs-item ul {
    list-style-type: disc;
    margin-left: 20px;
}

.section-mkty-area-item_active {
    background-color: #5671B2;
    color: white;
}

.section-mkty-tabs-item {
    display: none;
}

.section-mkty-tabs-item.section-mkty-tabs-item_active {
    display: block;
}

.section-mkty-tabs-item__name {
    display: none;

}



.section-mkty-tabs-item__title {
    margin-bottom: 12px;
}

.section-mkty-tabs-item__part {
    margin-bottom: 25px;
}

/*dropdown */
.dropdown-mkty__header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #BDC4D8;
    padding: 28px;
    border-radius: 27px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    cursor: pointer;
}

.dropdown-mkty__header~.dropdown-mkty__body {
    display: none;
}

.dropdown-mkty__body {
    padding: 14px 28px;
}

.dropdown-mkty__header svg {
    transition: all 0.4s;
}

.dropdown-mkty__header_active svg {
    transform: rotate(180deg);
}

/*Global popup */
.global-popup.fancybox__container {

    --fancybox-bg: rgb(223, 227, 238, 0.4);

}


.global-popup {

    box-sizing: border-box;
    border-radius: 27px;
    padding: 0px;
}

.global-popup__inner {

    box-sizing: border-box;
    padding: 50px;
    max-width: 604px;
}

.global-popup .fancybox__content>.f-button.is-close-btn {

    opacity: 1;
}

.global-popup .fancybox__content>.f-button.is-close-btn {
    width: 16px;
    height: 16px;
    --f-button-color: unset;
    top: -22px;
    right: -22px;
}

.global-popup .fancybox__content>.f-button.is-close-btn svg {
    fill: white;
    stroke: white;
}

h2.global-popup__title {
    font-size: 28px;
    line-height: 34px;
    color: #1E1D25;
    margin-bottom: 9px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 9px;
}

/*page 404 */
.section-404 {
    padding-top: 56px;
    padding-bottom: 152px;
    background: linear-gradient(360deg, #DFE3EE 0%, #FFFFFF 100%);
}

.section-404__inner {
    max-width: 736px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-404-header__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 5px;
}

.section-404-header__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
}

.section-404__header {
    margin-bottom: 46px;
}

.section-404-body__text {
    font-size: 26px;
    line-height: 31.29px;
    font-weight: 500;
    text-transform: uppercase;

}

.section-404-body__image {
    width: 500px;
    aspect-ratio: 1/1;
    margin: auto;
}

.section-404-body__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-404-body__text {
    margin-bottom: 5px;
}

.btn-404 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(99.39deg, #4D4B5A -4.76%, #485C63 158.33%);
    padding: 25px;
    min-width: 504px;
    border-radius: 37px;
    color: white;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 600;
}

@media (max-width:767.98px) {

    .section-mkty-tabs-item p,
    .section-mkty-tabs-item ul {
        font-size: 13px;
    }

    .sectiom-mkty__title {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .section-mkty-area__name {
        font-size: 14px;
    }

    .sectiom-mkty-area__row {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
        border-bottom: 1px solid #E6E8EF;
        gap: 12px;

    }

    .section-mkty-area__name {
        order: -1;
    }

    .sectiom-mkty-area__row:not(:first-child):not(:nth-child(2)) {
        padding-top: 17px;
    }

    .section-mkty-area-item {
        width: 62px;
    }

    .section-mkty-area__items {
        gap: 3px;
    }

    .section-mkty-tabs-item {
        background-color: white;
    }

    /* .modal-mkty.fancybox__container:not(.is-compact) .fancybox__slide.has-close-btn {
        padding-top: 0px;
    } */
    .modal-mkty.fancybox__container {
        --fancybox-bg: transparent;
        z-index: 1000;


    }

    .modal-mkty .fancybox__slide::before,
    .modal-mkty .fancybox__slide::after {
        content: "";
        flex: 0 0 0;
        margin: unset;
    }

    .section-mkty-tabs-item__data::-webkit-scrollbar {
        width: 3px;
        margin-top: 20px;
    }

    .section-mkty-tabs-item__data::-webkit-scrollbar-track {
        background: white;
    }

    .section-mkty-tabs-item__data::-webkit-scrollbar-thumb {
        background: gray;
    }

    .section-mkty {
        padding-top: 19px;
        padding-bottom: 18px;
    }

    .section-mkty-tabs-item {
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 5px 25px 0px #00000026;
        border-radius: 18px;
        padding: 26px 23px 23px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
        background: white;
        position: static;
        height: 90vh;
        position: relative;
        overflow: hidden;
    }

    .section-mkty__area.sectiom-mkty-area {
        margin-bottom: 0px;
    }

    .section-mkty__area.sectiom-mkty-area:not(:last-child) {
        margin-bottom: 25px;
    }

    .section-mkty-tabs-item__data {
        overflow: auto;
        height: calc(100% - 80px);
    }

    .modal-mkty.fancybox__container .f-button svg {
        stroke: black;
    }

    .modal-mkty.fancybox__container .f-button svg,
    .modal-mkty.fancybox__container .f-button.is-close-btn {
        width: 16px;
        height: 16px;
    }

    .modal-mkty.fancybox__container .f-button.is-close-btn {
        position: absolute;
        opacity: 1;
        top: 16px;
        right: 16px;
        background: transparent;
        z-index: 100;


    }

    .modal-mkty .fancybox__slide {
        overflow: unset;
    }

    .fancybox__container.modal-mkty .is-compact .fancybox__content>.f-button.is-close-btn {

        top: 16px;
        right: 16px;
    }


    .section-mkty-tabs-item__name {
        display: inline-flex;
        align-items: center;
        background: #5671B2;
        justify-content: center;
        width: 68px;
        padding: 7px 0px;
        border-radius: 57px;
        color: white;
        font-weight: 600;
        line-height: 21px;
        font-size: 18px;
        margin-bottom: 20px;


    }

    .section-mkty-tabs-item.fancybox__content {
        height: 100%;
        border-radius: 18px;
    }


    .section-mkty-tabs-item.section-mkty-tabs-item_active {
        display: none;
    }

    .section-mkty-area__name {
        text-align: unset;
        padding-right: 0px;
    }


    .section-mkty-tabs-item {
        display: none;
    }

    .dropdown-mkty__header {
        font-size: 14px;
        line-height: 17.0px;
        padding: 14px;
    }

    .dropdown-mkty__header svg {
        flex-shrink: 0;
    }

    .dropdown-mkty__body {
        padding: 14px 14px;
    }


    h2.global-popup__title {
        font-size: 18px;
        line-height: 21.9px;
        color: #1E1D25;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 9px;

        margin: auto;
    }

    .global-popup {
        min-width: auto;
        padding: 0px;
        width: calc(100% -20px);
        box-sizing: border-box;
        border-radius: 27px;
        margin: auto 10px;
    }

    .global-popup .fancybox__content>.f-button.is-close-btn {
        top: -22px;
        right: 0px;
        background: transparent;

    }

    .global-popup__inner {
        padding: 46px 21px 28px;
    }

    /*page 404 */

    .section-404-body__image {
        width: 300px;
        aspect-ratio: 1/1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .btn-404 {
        width: 100%;
        max-width: 345px;
        min-width: auto;

    }
    .section-404-body__bottom{
        width: 100%;
    }

    .section-404 {
        padding-top: 66px;
        padding-bottom: 82px;
        background: linear-gradient(180deg, #FFFFFF 0%, #DFE3EE 100%);

    }
    .section-404-header__title {
        font-size: 12px;
        margin-bottom: 7px;
        line-height: 14.6px;
    }
    .section-404-header__subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 19.5px;
    }
    .section-404__header {
        margin-bottom: 32px;
    }
    .section-404-body__text {
        font-size: 20px;
        line-height: 24.3px;
        margin-bottom: 32px;
    }

}